header {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #AC2B37; 
 font-size: 25px;
 padding-right: 20px;
}


<video>{
	border-style: groove;
}
footer{
	width: 100%;
	height: 100%;
	background: #eee;
	text-align: center;
}